# Configuration file

####################
# block
####################

block {
    I:showcase=1501
    I:statue=1500
}


####################
# general
####################

general {
    # Save generated skins to files.
    B:"debug skins"=false
}


####################
# item
####################

item {
    I:itemshowcase=31726
    I:marteau=31727
    I:palette=31725
}


